# Ignore node_modules (so it rebuilt in image)
node_modules
dist
build

coverage
Dockerfile

# Ignore environment files
.env
*.env

# Ignore logs
*.log
**/*.log

# Ignore OS / IDE files
.DS_Store
.vscode/
.idea/

# Ignore git metadata
.git
.gitignore